/* styles.module.css (ou outro nome de arquivo CSS) */

.formContainer {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
      
.button {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #CCCCCC;
}

.forgotPassword {
  text-align: end;
  padding-bottom: 1rem;
  color: #000000;
}

.forgotPassword:hover {
  color: #CCCCCC;
  cursor: pointer;
}

.logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
}

.p{
  text-align: center;
  padding-bottom: 1rem;
  color: #000000;
  margin-bottom: 1rem;
}

.rowContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.closeButton{
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}