.header {
    width: 100%;
    height: 76px;
    display: flex;
    background-color: transparent;
}

.Content{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2rem;
    margin: 0.5rem 0 0.5rem 0

}

.sectionContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.operacional{
    margin-top: 3px;
    font-weight: 900;
    color: #464E5F;
}

.divisor{
    width: 4x;
    margin: 5px;
    bottom: 5px;
    height: 57px;
}

