@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background: linear-gradient(113.77deg, rgba(255, 153, 0, 0.3) 13.89%, rgba(255, 255, 255, 0) 92.58%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

html {
  font-family: "Roboto", sans-serif;
}