.swiper{
    padding: 32px;
    margin-top: 2rem;
    width: 100%;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    
}

.swiper-pagination-bullet-active{
    background-color: #fff;
}

.swiper-button-prev, .swiper-button-next{
    color: #fff;
}